* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
}

#stars {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 0.5rem;
}

.novatard-logo {
    width: 40px;
    height: 40px;
    border-radius: 0.2rem;
}

.link {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #00bfff;
}

.link Button {
    padding: 0.5rem 1.5rem;
    background-color: #00bfff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link Button:hover {
    background-color: #0099cc;
}

.link Button a {
    color: #000;
    font-weight: bold;
}