* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
}

#stars {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
}

.navbar .home {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 0.5rem;
}

.home:hover {
    color: #d4d4d4;
}

.novatard-logo {
    margin-top: 5px;
    margin-left: -15px;
    margin-right: 5px;
    width: 45px;
    height: 45px;
    border-radius: 0.2rem;
}

.link {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.direct-link {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.direct-link a:hover {
    color: #fafafa  ;
    text-decoration: underline;
    transition: text-decoration 1s ease;
}

.link Button {
    width: 102px;
    height: 39px;
    margin: 0 0;
    padding: 0 0;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
        transition: font-weight 0.5s ease;
    transition: font-size 0.5s ease;
    transition: scale 0.5s ease;
}

.button-contact:hover {
    background-color: #b8b8b8;
    font-weight: 600;
    font-size: 16px;
    scale: 1.05;
    transition: font-weight 0.5s ease;
    transition: font-size 0.5s ease;
    transition: scale 0.5s ease;
}

.link Button {
    color: #111;
    font-family: "Satoshi", sans-serif;
    font-weight: 500;
    font-size: 15px;
}